.intro>p {
    font-size: 18px;
}

.ser>h1 {
    font-size: 60px;
    /* font-weight: bold; */
    color: #E3ECE7;
}

.ser-col {
    border-radius: 20px;
    background-color: #E3ECE7;
    width: 90%;
    display: grid;
    justify-content: center;
    align-content: center;

}

@media (max-width: 575.98px) {
    .ser-col {
        /* margin-left: 20px;
        margin-right: 20px; */

        border-radius: 20px;
        background-color: #E3ECE7;
        width: 100%;
        display: grid;
        justify-content: center;
        align-content: center;

    }
}

.ser-col:hover {
    box-shadow: 5px 10px 30px 10px #142220;
    transition: 0.5s ease all;
}

.ser-col>h2 {
    color: #142220;
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ser-col>h2:hover {
    color: #417972;
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ser-col>img {
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    /* display: grid; */
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 200px;
    object-fit: cover;
}

.ser-col>button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #417972;
    padding: 10px 10px;
    color: #E3ECE7;
}

.ser-col>button:hover {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #142220;
    padding: 10px 10px;
    color: #E3ECE7;
    transition: 0.5s ease-in-out all;
}

.ser-bt>button {
    border: none;
    border-radius: 15px;
    width: 200px;
    padding: 20px 10px;
    background-color: #142220;
    color: #E3ECE7;
}

.ser-bt>a {
    border: none;
    border-radius: 15px;
    width: 200px;
    padding: 20px 10px;
    padding-right: 10px;
    background-color: #142220;
    color: #E3ECE7;
}

.ser-bt>button:hover {
    background-color: #F2D381;
    color: #417972;
}

.common__btn_h {
    outline: none;
    font-size: 18px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    font-weight: 500;
    padding: 10px 25px;
    /* background-color: #cf41c9;
    border: 1px solid #cf41c9; */
    background-color: #fa991c;
    border: 1px solid #fa991c;
    color: #ffffff;
    transition: all .5s
}

.common__btn2 {
    outline: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    font-weight: 600;
    padding: 15px 32px;
    /* background-color: #cf41c9;
    border: 1px solid #cf41c9; */
    background-color: #fa991c;
    border: 1px solid #fa991c;
    color: #fff;
    transition: all .5s;
    margin-left: 40%;

}

.ul.sl {
    list-style-type: circle;
}

.modal-header>h1 {
    font-size: 40px;
    color: #142220;
    text-align: center;

}

.modal-body>p {
    font-size: 18px;
    color: #142220;
}



.work>img {
    height: auto;
    width: 100%;
    /* margin-right: 50px; */
    object-fit: cover;
    border-radius: 25px;

}

.dmcard>img {
    border-radius: 25px;
}

.why {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.whycard {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
    gap: 2px;
    border: #142220 solid 1px;
    background-color: aquamarine;
}

.modal {
    /* background-color: aquamarine; */
    /* */
}

.title>span {
    font-size: 60px;
    /* background-color: #417972; */
}

@media (max-width: 575.98px) {
    .intro>h1>span {
        font-size: 30px;
        /* background-color: #417972; */
    }
}

.abe {
    margin-top: 10px;
}

@media (max-width: 575.98px) {
    .abe {
        margin-top: 10px;
    }
}

.vsm>h1 {
    font-size: 60px;
}

.vssm {
    /* column-gap-right: 20px; */
    /* column-count: 2; */
}

.mission {
    border-radius: 20px;
    background-color: #1c768f;

    height: auto;
    float: left;
    border-right: dotted #ffffff;
}

.mission>p {
    color: #fff;
}

.mission>h2 {
    color: #fff;
}

.vision>h2 {
    color: #fff;
}

.vision>p {
    color: #fff;
}

.vision {
    border-radius: 20px;
    background-color: #032539;
    height: auto;
    float: right;
    border-left: dotted #ffffff;
    /* column-count: 2; */
    /* column-gap: 40px; */
}

/* .bh {
    margin-top: 100px;
    margin-left: 40px;
} */

/* @media (min-width: 576px) {
    .bh {
        margin-top: 60px;
        margin-left: 20px;
        background-color: #F2D381;
    }
} */

/* .nav-con>a>img {
    height: 200px;
    width: 100%;
    background-color: #032539;
} */
.navbar {
    height: 100px;
    border-bottom: #fff solid 2px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* background-color: rgb(85, 85, 11); */
    padding: 0px;
    font-size: 20px;
    background-color: var(--btn-clr);
    padding: 24px 0;
    /* position: relative; */
    z-index: 1000;

}

@media (max-width: 575.98px) {
    .navbar {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        /* background-color: rgb(85, 85, 11); */
        padding: 0px;
        font-size: 20px;
        background-color: var(--btn-clr);
        padding: 24px 0;
        /* position: relative; */
        z-index: 1000;
        height: 100px;

    }
}

.nav-item>a {
    font-size: 18px;
    color: #fff;
    gap: 38px;
    padding: 0 20px;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background-color: #032539;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    color: #fff;
    margin-top: 10px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color: var(--color-default);
    font-weight: 400;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: var(--color-primary);
}


.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}


@media (min-width: 1280px) and (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

/* @media (min-width: 1280px) {

    .mobile-nav-show,
    .mobile-nav-hide {
        display: none;
    }
} */
.navbar-brand>img {
    /* margin-left: 25px; */
    /* padding-left: 50px; */
    /* background-color: #fa991c; */
    width: 30%;
}

@media (max-width: 575.98px) {
    .navbar-brand {
        width: 80%;
    }
}

.navbar-brand {}

.ga>a {
    font-size: 18px;
}

.ga>a:hover {
    font-size: 18px;
    color: #fa991c;
}

.off>a {
    font-size: 24px;
}

.off>a:hover {
    font-size: 24px;
    color: #fa991c;
}

.offcanvas {
    background-color: #032539;
}

.offcanvas-body {
    background-color: #032539;
}











.offcanvas-body .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.offcanvas-body .dropdown ul li {
    min-width: 200px;
}

.offcanvas-body .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color: var(--color-default);
    font-weight: 400;
}

.offcanvas-body .dropdown ul a i {
    font-size: 12px;
}

.offcanvas-body .dropdown ul a:hover,
.offcanvas-body .dropdown ul .active:hover,
.offcanvas-body .dropdown ul li:hover>a {
    color: var(--color-primary);
}


.offcanvas-body .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.offcanvas-body .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.offcanvas-body .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}


@media (min-width: 1280px) and (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

.navbar-toggler {
    color: #fff;
    background-color: #fff;
}

.navbar-toggler>span {
    color: #fff;
    background-color: #fff;
}

.offcanvas-header>button {
    color: #fff;
    background-color: #fff;
}

@media (max-width: 575.98px) {
    .common__btn2 {
        outline: none;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        font-weight: 600;
        padding: 15px 32px;
        /* background-color: #cf41c9;
        border: 1px solid #cf41c9; */
        background-color: #fa991c;
        border: 1px solid #fa991c;
        color: #fff;
        transition: all .5s;
        margin-left: 20%;

    }
}

.accordion-button>span {
    color: #fa991c;
}

.banner__content_title-s {
    margin-top: 60px;
    margin-left: 40px;
}

.banner__content_title-t {
    margin-left: 150px;
}

.banner__content_title-t>span {
    /* margin-left: 150px; */
    color: #fff;
}

.banner__content_title-s>h1 {
    font-size: 58px;
    color: #fff;
    margin-left: 150px;
}

@media (max-width: 575.98px) {
    .banner__content_title-s {
        margin-top: 30px;
        margin-left: 10px;
        /* background-color: #fa991c; */
    }

    .banner__content_title-s>h1 {
        font-size: 58px;
        color: #fff;
        margin-left: 10px;
        /* background-color: #fa991c; */
    }

    .banner__content_title-t {
        margin-left: 20px;
    }

}

.about__wapper_right>button {
    background-color: #000;
}

/* .top-banner {
    background-image: url(../img/banner/home-bannera.jpg);
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
} */








.testimonial__wapper {
    position: relative;
    margin-top: 60px;
    margin-bottom: -368px
}

@media(max-width: 768px) {
    .testimonial__wapper {
        margin-bottom: -250px
    }
}

@media(max-width: 576px) {
    .testimonial__wapper {
        margin-bottom: -200px
    }

    .services__wapper .slides {
        background-color: #d8d9d9;
        border-radius: 10px;
        padding: 40px;
        /* width: 100%; */
    }
}

.services__wapper .slides {
    background-color: #d8d9d9;
    border-radius: 10px;
    padding: 40px;
    /* width: 80%; */
}

.services__wapper .slides:hover {
    background-color: #417972;
    border-radius: 10px;
    padding: 40px;
    transition: 0.5s;
}

@media(max-width: 768px) {
    .services__wapper .slides {
        padding: 25px
    }
}

/* .testimonial__wapper .star i {
    color: var(--btn-clr)
} */
/* .testimonial__wapper .star i {
    color: #fa991c;
} */
/*  */

@media(max-width: 768px) {
    /* .testimonial__wapper .review {
        font-size: 19px;
        margin-top: 25px;
        margin-bottom: 40px
    } */
}

@media(max-width: 576px) {
    /* .testimonial__wapper .review {
        font-size: 17px;
        margin-top: 22px;
        margin-bottom: 30px
    } */
}

/* .testimonial__wapper .reviewer__info img {
    width: 52px;
    height: 52px;
    border-radius: 50%
} */
.slides>img {
    border-radius: 10px;
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 30px;
    /* display: grid; */
    /* justify-content: center;
    align-items: center; */
    width: 260px;
    height: 200px;
    object-fit: cover;
}

.slides>i {
    font-size: 56px;
    color: #032539;
    padding-bottom: 20px;
}

.slides>button {
    background-color: #032539;
}

.slides>a {
    background-color: #032539;
    color: #E3ECE7;
    padding: 20px 10px;
    margin-top: 20px;
}

.service__cards {
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    transition: all .5s
}

.service__cards {
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    transition: all .5s
}

.service__card>h3 {
    color: #032539;
}

.service-head {
    background-image: url(../img/banner/service.jpg);
    width: 100%;
    height: 600px;
    object-fit: cover;

}

@media (max-width: 575.98px) {
    .service-head {
        background-image: url(../img/banner/service.jpg);
        width: 100%;
        height: 400px;
        object-fit: fill;

    }
}