.intro>p {
    font-size: 18px;
}

.ser>h1 {
    font-size: 60px;
    /* font-weight: bold; */
    color: #E3ECE7;
}

.ser-col {
    border-radius: 20px;
    background-color: #E3ECE7;
    width: 90%;
    display: grid;
    justify-content: center;
    align-content: center;

}

@media (max-width: 575.98px) {
    .ser-col {
        /* margin-left: 20px;
        margin-right: 20px; */
        border-radius: 20px;
        background-color: #E3ECE7;
        width: 100%;
        display: grid;
        justify-content: center;
        align-content: center;

    }
}

.ser-col:hover {
    box-shadow: 5px 10px 30px 10px #142220;
    transition: 0.5s ease all;
}

.ser-title>h1 {
    font-size: 46px;
    font-weight: 500;
}

.ser-col>h2 {
    color: #142220;
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ser-col>h2:hover {
    color: #417972;
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ser-col>img {
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    /* display: grid; */
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 200px;
    object-fit: cover;
}

.ser-col>button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #417972;
    padding: 10px 10px;
    color: #E3ECE7;
}

.ser-col>button:hover {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #142220;
    padding: 10px 10px;
    color: #E3ECE7;
    transition: 0.5s ease-in-out all;
}

.ser-bt>button {
    border: none;
    border-radius: 15px;
    width: 200px;
    padding: 20px 10px;
    background-color: #142220;
    color: #E3ECE7;
}

.ser-bt>a {
    border: none;
    border-radius: 15px;
    width: 200px;
    padding: 20px 10px;
    padding-right: 10px;
    background-color: #142220;
    color: #E3ECE7;
}

.ser-bt>button:hover {
    background-color: #F2D381;
    color: #417972;
}

.common__btn_h {
    outline: none;
    font-size: 18px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    font-weight: 500;
    padding: 10px 25px;
    /* background-color: #cf41c9;
    border: 1px solid #cf41c9; */
    background-color: #fa991c;
    border: 1px solid #fa991c;
    color: #ffffff;
    transition: all .5s
}

.common__btn2 {
    outline: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    font-weight: 600;
    padding: 15px 32px;
    /* background-color: #cf41c9;
    border: 1px solid #cf41c9; */
    background-color: #fa991c;
    border: 1px solid #fa991c;
    color: #fff;
    transition: all .5s;
    margin-left: 40%;

}

.ul.sl {
    list-style-type: circle;
}

.modal-header>h1 {
    font-size: 40px;
    color: #142220;
    text-align: center;

}

.modal-body>p {
    font-size: 18px;
    color: #142220;
}



.work>img {
    height: auto;
    width: 100%;
    /* margin-right: 50px; */
    object-fit: cover;
    border-radius: 25px;

}

.dmcard>img {
    border-radius: 25px;
}

.why {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.whycard {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
    gap: 2px;
    border: #142220 solid 1px;
    background-color: aquamarine;
}

.modal {
    /* background-color: aquamarine; */
    /* */
}

.title>span {
    font-size: 60px;
    /* background-color: #417972; */
}

@media (max-width: 575.98px) {
    .intro>h1>span {
        font-size: 30px;
        /* background-color: #417972; */
    }
}

.abe {
    margin-top: 10px;
}

@media (max-width: 575.98px) {
    .abe {
        margin-top: 10px;
    }
}

.vsm>h1 {
    font-size: 60px;
}

.vssm {
    /* column-gap-right: 20px; */
    /* column-count: 2; */
}

.mission {
    border-radius: 20px;
    background-color: #1c768f;

    height: auto;
    float: left;
    border-right: dotted #ffffff;
}

.mission>p {
    color: #fff;
}

.mission>h2 {
    color: #fff;
}

.vision>h2 {
    color: #fff;
}

.vision>p {
    color: #fff;
}

.vision {
    border-radius: 20px;
    background-color: #032539;
    height: auto;
    float: right;
    border-left: dotted #ffffff;
    /* column-count: 2; */
    /* column-gap: 40px; */
}

/* .bh {
    margin-top: 100px;
    margin-left: 40px;
} */

/* @media (min-width: 576px) {
    .bh {
        margin-top: 60px;
        margin-left: 20px;
        background-color: #F2D381;
    }
} */

/* .nav-con>a>img {
    height: 200px;
    width: 100%;
    background-color: #032539;
} */
.navbar {
    height: 100px;
    border-bottom: #fff solid 2px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* background-color: rgb(85, 85, 11); */
    padding: 0px;
    font-size: 20px;
    background-color: var(--btn-clr);
    padding: 24px 0;
    /* position: relative; */
    z-index: 1000;

}

@media (max-width: 575.98px) {
    .navbar {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        /* background-color: rgb(85, 85, 11); */
        font-size: 20px;
        background-color: var(--btn-clr);
        padding: 14px 0;
        /* position: relative; */
        z-index: 1000;
        height: 100px;

    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .navbar {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        /* background-color: rgb(85, 85, 11); */
        font-size: 20px;
        background-color: var(--btn-clr);
        padding: 0px 0;
        /* position: relative; */
        z-index: 1000;
        height: 100px;

    }
}

.nav-item>a {
    font-size: 18px;
    color: #fff;
    gap: 38px;
    padding: 0 20px;
}

/* .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background-color: #032539;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    color: #fff;
    margin-top: 10px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color: var(--color-default);
    font-weight: 400;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: var(--color-primary);
}


.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
} */


/* @media (min-width: 1280px) and (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
} */

/* @media (min-width: 1280px) {

    .mobile-nav-show,
    .mobile-nav-hide {
        display: none;
    }
} */
.navbar-brand>img {
    /* margin-left: 25px; */
    /* padding-left: 50px; */
    /* background-color: #fa991c; */
    width: 50%;
}

@media (max-width: 575.98px) {
    .navbar-brand {
        width: 80%;
    }
}

.navbar-brand {
    width: 300px;
}

@media (max-width: 575.98px) {
    .navbar-brand {
        width: 80%;
    }

    .navbar-brand {
        width: 250px;
    }
}

.ga>a {
    font-size: 18px;
}

.ga>a:hover {
    font-size: 18px;
    color: #fa991c;
}

.off>a {
    font-size: 24px;
}

.off>a:hover {
    font-size: 24px;
    color: #fa991c;
}

.offcanvas {
    background-color: #032539;
}

.offcanvas-body {
    background-color: #032539;
}











/* .offcanvas-body .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.offcanvas-body .dropdown ul li {
    min-width: 200px;
}

.offcanvas-body .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color: var(--color-default);
    font-weight: 400;
}

.offcanvas-body .dropdown ul a i {
    font-size: 12px;
}

.offcanvas-body .dropdown ul a:hover,
.offcanvas-body .dropdown ul .active:hover,
.offcanvas-body .dropdown ul li:hover>a {
    color: var(--color-primary);
}


.offcanvas-body .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.offcanvas-body .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.offcanvas-body .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
} */


/* @media (min-width: 1280px) and (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
} */

.navbar-toggler {
    color: #fff;
    background-color: #fff;
}

.navbar-toggler>span {
    color: #fff;
    background-color: #fff;
}

.offcanvas-header>button {
    color: #fff;
    background-color: #fff;
}

@media (max-width: 575.98px) {
    .common__btn2 {
        outline: none;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        font-weight: 600;
        padding: 15px 32px;
        /* background-color: #cf41c9;
        border: 1px solid #cf41c9; */
        background-color: #fa991c;
        border: 1px solid #fa991c;
        color: #fff;
        transition: all .5s;
        margin-left: 20%;

    }
}

.accordion-button>span {
    color: #161616;
}

.banner__content_title-s {
    margin-top: 240px;
    margin-left: 40px;
}

.banner__content_title-t {
    margin-left: 150px;
}

.banner__content_title-t>span {
    /* margin-left: 150px; */
    color: #fff;
}

.banner__content_title-s>h1 {
    font-size: 58px;
    color: #fff;
    margin-left: 150px;
}

@media (max-width: 575.98px) {
    .banner__content_title-s {
        margin-top: 180px;
        margin-left: 10px;
        /* background-color: #fa991c; */
    }

    .banner__content_title-s>h1 {
        font-size: 58px;
        color: #fff;
        margin-left: 10px;
        /* background-color: #fa991c; */
    }

    .banner__content_title-t {
        margin-left: 20px;
    }

}

.about__wapper_right>button {
    background-color: #000;
}

.top-banner {
    /* background-image: url(../img/banner/hm.jpg); */
    height: 600px;
    width: 100%;
    /* background-repeat: no-repeat; */
    object-fit: cover;
}

.banner__content_title-home {
    margin-top: 70px;
    margin-left: 80px;
}

.banner__content_title-home>h1 {
    font-size: 60px;
    color: #fff;
    font-weight: 700;
    margin-top: 150px;
}

@media (max-width: 575.98px) {
    .top-banner {
        background-image: url(../img/banner/home-bannera.jpg);
        height: 500px;
        width: 100%;
        /* background-repeat: no-repeat; */
        object-fit: cover;
    }

    .banner__content_title-home {
        margin-top: 50px;
        margin-left: 50px;
    }

    .banner__content_title-home>h1 {
        font-size: 40px;
        color: #fff;
        font-weight: 500;
        margin-top: 100px;
    }
}

.banner__content_title-home>p {
    /* max-width: 700px; */
    font-size: 22px;
    /* line-height: 22px; */
    /* color: rgba(0, 0, 0, 0.67); */
    color: #ffffff;
    margin-top: 20px
}

@media (max-width: 575.98px) {
    .banner__content_title-home>p {
        /* max-width: 700px; */
        font-size: 18px;
        /* line-height: 22px; */
        /* color: rgba(0, 0, 0, 0.67); */
        color: #ffffff;
        margin-top: 20px
    }
}






.testimonial__wapper {
    position: relative;
    margin-top: 60px;
    margin-bottom: -368px
}

@media(max-width: 768px) {
    .testimonial__wapper {
        margin-bottom: -250px
    }
}

@media(max-width: 576px) {
    .testimonial__wapper {
        margin-bottom: -200px
    }

    .services__wapper .slides {
        background-color: #d8d9d9;
        border-radius: 10px;
        padding: 40px;
        /* width: 100%; */
    }

    .services__wapper .slides:hover {
        background-color: #417972;
        border-radius: 10px;
        padding: 40px;
        transition: 0.5s;
    }
}

.services__wapper .slides {
    background-color: #d8d9d9;
    border-radius: 10px;
    padding: 40px;
    /* width: 80%; */
}

.services__wapper .slides:hover {
    background-color: #417972;
    border-radius: 10px;
    padding: 40px;
    transition: 0.5s;
}

@media(max-width: 768px) {
    .services__wapper .slides {
        padding: 25px
    }
}

/* .testimonial__wapper .star i {
    color: var(--btn-clr)
} */
/* .testimonial__wapper .star i {
    color: #fa991c;
} */
/*  */

@media(max-width: 768px) {
    /* .testimonial__wapper .review {
        font-size: 19px;
        margin-top: 25px;
        margin-bottom: 40px
    } */
}

@media(max-width: 576px) {
    /* .testimonial__wapper .review {
        font-size: 17px;
        margin-top: 22px;
        margin-bottom: 30px
    } */
}

/* .testimonial__wapper .reviewer__info img {
    width: 52px;
    height: 52px;
    border-radius: 50%
} */
.slides>img {
    width: 80px;
    height: 80px;
    object-fit: fill;
}

.slides>ul {
    list-style-type: circle;
    /* padding-left: 15%; */
    /* list-style: ; */
}

.slides>i {
    font-size: 56px;
    color: #032539;
    padding-bottom: 20px;
}

.slides>h2 {
    margin: 20px 0px;
    /* margin-bottom: 20px; */
}

.slides>button {
    background-color: #FA991C;
}

.slides>a {
    background-color: #032539;
    border-radius: 10px;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 20px;
}

/* .slides>a:hover {
    background-color: #ffffff;
    border-radius: 10px;
    color: #fa991c;
    padding: 20px 10px;
    margin-top: 20px;
} */

.service__cards {
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    transition: all .5s
}

.service__cards {
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    transition: all .5s
}

.service__card>h3 {
    color: #032539;
}

.service-head {
    background-image: url(../img/banner/hm34.png);
    width: 100%;
    height: 600px;
    object-fit: cover;

}

@media (max-width: 575.98px) {
    .service-head {
        background-image: url(../img/banner/hm34.png);
        width: 100%;
        height: 400px;
        object-fit: fill;

    }
}

.who-banner {
    background-image: url(../img/banner/hm.png);
    width: 100%;
    height: 600px;
    object-fit: cover;
}

@media (max-width: 575.98px) {
    .who-banner {
        background-image: url(../img/banner/hm.png);
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}

.banner__content_title-w {
    margin-top: 150px;
    margin-left: 100px;
    /* position: absolute; */
    /* top: 40%; */

}

.banner__content_title-w>p {
    color: #030303;
    font-size: 40px;
    line-height: 100px;
    font-weight: 600;
    position: relative;
}

.banner__content_title-w>h1 {
    color: #ffffff;
    font-size: 80px;
    line-height: 100px;
    font-weight: 600;
    position: relative;
}

@media(max-width: 1200px) {
    .banner__content_title-w h1 {
        font-size: 80px;
        line-height: 80px
    }
}

@media(max-width: 991px) {
    .banner__content_title-w h1 {
        font-size: 60px;
        line-height: 60px
    }
}

@media(max-width: 576px) {

    .banner__content_title-w {
        margin-top: 180px;
        margin-left: 20px;
    }

    .banner__content_title-w h1 {
        font-size: 36px;
        line-height: 53px;

    }
}

.banner-faq {
    background-image: url(../img/banner/faq1.jpg);
    width: 100%;
    height: 600px;
    object-fit: cover;
    /* background-repeat: no-repeat; */
}

@media(max-width: 576px) {
    .banner-faq {
        background-image: url(../img/banner/faq1.jpg);
        width: 100%;
        height: 400px;
        object-fit: cover;
        /* background-repeat: no-repeat; */
    }
}

.banner__content_titl-faq {
    margin-top: 200px;
    margin-left: 40px;

}

.banner__content_titl-faq>h1 {
    color: #fff;
    font-size: 70px;
    margin-left: 150px;

}

@media(max-width: 576px) {
    .banner__content_titl-faq {
        margin-top: 200px;
        margin-left: 10px;

    }

    .banner__content_titl-faq>h1 {
        color: #fff;
        font-size: 70px;
        margin-left: 60px;

    }
}

.banner-contect {
    background-image: url(../img/banner/contact01.jpg);
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.banner__content_title-contact {
    margin-top: 220px;
    margin-left: 40px;
}

.banner__content_title-contact>h1 {
    color: #fff;
    font-size: 70px;
    margin-left: 150px;
}

.title-contact {
    /* margin-top: 60px; */
    margin-left: 150px;
}

@media(max-width: 576px) {
    .banner__content_title-contact {
        margin-top: 220px;
        margin-left: 40px;
    }

    .title-contact {
        /* margin-top: 60px; */
        margin-left: 10px;
    }

    .banner-contect {
        background-image: url(../img/banner/contact.jpg);
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .banner__content_title-contact {
        margin-top: 40px;
        /* margin-left: px; */
    }

    .banner__content_title-contact>h1 {
        color: #fff;
        font-size: 40px;
        margin-top: 140px;
        margin-left: 0px;
    }
}

/* 
.dm-top {
    background-color: #1c768f;
    height: 400px;
    width: 100% !important;
} */

.dm-top {
    background-image: url(../img/services/topbg.jpg);
    /* background-color: #1c768f; */
    height: 400px;
    width: 100% !important;
}

.dm-contact-title>h1 {
    position: absolute;
    top: 30%;
    left: 30%;
    color: #fff;
    font-size: 80px;
}

.top-blog {
    background-image: url(../img/banner/blogs1.jpg);
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.blogss>a {
    font-size: 18px;
}

.top-brand {
    background-image: url(../img/services/lb2.jpg);
    width: 100%;
    height: 400px;
    object-fit: cover;
}



/* .slidess>.slink>img {
    width: 80px;
    height: 80px;
    object-fit: fill;
} */

.slidess>img {
    width: 80px;
    height: 80px;
    object-fit: fill;
}

.car-img>a>img {
    width: 80px;
    height: 80px;
    object-fit: fill;
}

.slidess>ul {
    list-style-type: circle;
    /* padding-left: 15%; */
    /* list-style: ; */
}

.slidess:hover.ul>li {
    color: #E3ECE7;
    /* list-style-type: circle; */
    /* padding-left: 15%; */
    /* list-style: ; */
}

.slidess>i {
    font-size: 56px;
    color: #032539;
    padding-bottom: 20px;
}

.slidess>h2 {
    margin: 20px 0px;
    /* margin-bottom: 20px; */
}

.slidess>button {
    background-color: #FA991C;
}

.slidess>a {
    background-color: #032539;
    border-radius: 10px;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 20px;
}



.car-tag>a>h2 {
    margin: 20px 0px;
    color: #032539
}

.services__wapper .slidess:hover>ul>li {
    color: #E3ECE7 !important;
}




@media(max-width: 576px) {
    .testimonial__wapper {
        margin-bottom: -200px
    }

    .services__wapper .slidess {
        background-color: #d8d9d9;
        border-radius: 10px;
        padding: 40px;
        /* width: 100%; */
    }
}

.services__wapper .slidess {
    background-color: #d8d9d9;
    border-radius: 10px;
    padding: 40px;
    /* width: 80%; */
}

.services__wapper .slidess:hover {
    background-color: #FA991C;
    border-radius: 10px;
    padding: 40px;
    transition: 0.5s;
}

@media(max-width: 768px) {
    .services__wapper .slidess {
        padding: 25px
    }
}

.bbg {
    background-image: url(../img/services/cc5.jpg);
    height: 350px;
    width: 100%;
    object-fit: fill;
}

.top-img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    background-repeat: no-repeat;
}

@media(max-width: 576px) {
    .top-img {
        width: 100%;
        height: 550px;
        object-fit: cover;
        background-repeat: no-repeat;
    }
}

.header-to>img {
    /* background-image: url(../img/banner/hm02.jpg); */
    /* height: 600px;
    background-repeat: no-repeat;
    object-fit: cover; */
    position: absolute;
    top: 100px;
    left: 0;
    /* min-height: 00px; */
}

.c-img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    background-repeat: no-repeat;
}



.about {
    margin-top: 0px;
}

.aboutss {
    margin-top: 300px;
}

@media (max-width: 575.98px) {
    .c-img {
        /* position: absolute; */
        /* top: 0;
        left: 0; */
        /* min-height: 00px; */
        width: 100%;
        height: 500px;
        object-fit: cover;
        background-repeat: no-repeat;
    }

    .about {
        margin-top: 0px;
    }
}

@media(min-width: 576px) and (max-width:768px) {
    .about {
        margin-top: 0px;
    }

    .header-to {
        background-color: #1c768f;
        height: 600px;

    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .about {
        margin-top: 50px;
    }

    .aboutss {
        margin-top: 00px;
    }

}

.mb-show {
    display: none;
}

@media (max-width: 575.98px) {
    .header-to {
        background-color: #1c768f;
        height: 500px;

    }
}

/* .header-to {
    background-color: #1c768f;

} */
.who-about {
    margin-top: 250px;
}

@media (max-width: 575.98px) {
    .who-about {
        margin-top: 80px;
    }
}

@media(min-width: 576px) and (max-width: 991.98px) {
    .about {
        margin-top: 200px;
    }

    .who-about {
        margin-top: 80px;
    }

    .header-to {
        background-color: #1c768f;
        height: 600px;

    }
}

.services {
    margin-top: 300px;
    /* background-color: var(--main-clr); */
    /* background-color: #032539; */
    padding-bottom: 0px
}



.all__blog {
    margin-bottom: 181px;
    margin-top: 200px;
}

.all__blog .blogs__wapper_card {
    margin-bottom: 43px
}

@media (max-width: 575.98px) {
    .services {
        margin-top: 80px;
        /* background-color: var(--main-clr); */
        /* background-color: #032539; */
        padding-bottom: 0px
    }

    .all__blog {
        margin-bottom: 181px;
        margin-top: 80px;
    }

    .all__blog .blogs__wapper_card {
        margin-bottom: 43px
    }
}

/* .blogs__wapper_card>img {
    width: 100%;
    height: 350px;
    object-fit: cover;
} */
.mbser {
    margin-top: -40px;
}

@media (max-width: 575.98px) {
    .mbser {
        margin-top: -80px;
    }
}








.accordion1 {
    background-color: #032539;
    color: #fff;
    cursor: pointer;
    padding: 18px 10px;
    width: 100%;
    border: none;
    border-radius: 12px;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion1:hover {
    background-color: #032539;
    color: #fff;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: #Fff;
    overflow: hidden;
}

.pricing__card:hover .panel {
    background-color: #fa991c;
    transition: 0.5;
}




.accordion2 {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    /* height: 200px; */
}

.active,
.accordion2:hover {
    background-color: #ccc;
}

.pane2 {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.pane2>p {
    color: #6e6f75;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.accordion2:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    font-size: 20px;
    margin-left: 5px;
    /* background-color: #417972; */
    /* padding-bottom: 45px; */
}

.accordion2.active:after {
    content: "\2212";
}

.accordion2>span {
    box-shadow: none;
    background-color: rgba(247, 247, 247, 0);
    font-size: 20px;
    font-weight: 400;
    color: #000;
    border: unset;
    font-size: 28px;
    font-family: 'Livvic', sans-serif;
    font-weight: 500;
    line-height: 38px;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 19px
}

.accordion2>span>h2 {
    font-size: 28px;
    font-family: 'Livvic', sans-serif;
    font-weight: 500;
    line-height: 38px;
    padding: 0;
    padding-top: 10px;
    /* padding-bottom: 9px */
}


@media (max-width:576px) {
    .accordion2>span>h2 {
        font-size: 22px;
        font-family: 'Livvic', sans-serif;
        font-weight: 500;
        line-height: 38px;
        padding: 0;
        /* padding-top: 20px;
        padding-bottom: 19px */
    }
}

.f-title>h2 {
    color: #000;
    font-size: 54px;
    font-weight: 500;
    line-height: 62px;
    word-wrap: break-word;
}

.projects__usecase_content>h1 {
    font-size: 46px;

}

@media (max-width:576px) {
    .projects__usecase_content>h1 {
        font-size: 26px;
        margin-top: 40px;

    }
}

/* .collapse>ul {
    width: 650px;
    background-color: #417972;
} */

.modal-content {
    width: 800px;
    height: 500px;
}

.modal-body>video {
    width: 600px;
    height: 350px;
}

@media (max-width:576px) {
    .modal-content {
        width: 400px;
        height: 400px;
    }

    .modal-body>video {
        width: 300px;
        height: 300px;
    }
}

.partner__logo2 {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.ab-col1 {
    background-color: #d8d9d9;
}

.ab-col1>h1 {
    font-size: 86px;
    /* margin-left: 40px; */
    position: relative;
    top: 26%;
    left: 22%;

}

@media (max-width:576px) {
    .ab-col1 {
        height: 300px;
        background-color: #d8d9d9;
    }

    .ab-col1>h1 {
        font-size: 66px;
        margin-left: 40px;
        position: relative;
        top: 26%;
        left: 0%;

    }
}

.ab-col2 {
    background-color: #ffffff;
}

.ab-col2>p {
    font-size: 18px;
    color: #525252;
    padding-left: 20px;
    /* position: absolute;
    top: 20%;
    left: 5%; */
    margin-top: 30px;
    /* margin-bottom: 50px; */
}

.ab-col3>img {
    border-radius: 0%;
    height: 410px;
    object-fit: cover;
}

.ab-col2>h2 {
    font-size: 24px;
    color: #282727;
    padding-left: 20px;
    font-weight: 700;
    /* position: absolute;
    top: 20%;
    left: 5%; */
    margin-top: 50px;
    margin-bottom: 10px;
}

.ab-col2>img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    /* margin-top: 20px; */
}

.ab-col2>a {
    border-radius: 10px;
    background-color: #032539;
    border: none;
    color: #f6f7f7;
    text-align: center;
    font-size: 20px;
    padding: 15px 50px 15px 20px;
    width: 300px;
    transition: all 0.8s;
    cursor: pointer;
    margin: 5px;
    margin-left: 25px;
}

.ab-col2>a>span {
    cursor: pointer;
    /* background-color: #1c768f; */
    display: inline-block;
    position: relative;
    transition: 0.8s;
}

.ab-col2>a>span::after {
    content: '\00bb';
    position: absolute;
    color: #fff;
    font-size: 24px;
    /* background-color: #417972; */
    opacity: 0;
    top: 0;
    /* left: 100px; */
    right: -50px;
    transition: 0.8s;
}

.ab-col2>a>:hover span {
    padding-right: 45px;
}

.ab-col2>a:hover span::after {
    opacity: 1;
    right: -30px;
}


@media (min-width: 768px) and (max-width: 1199.98px) {
    .ab-col2 {
        background-color: #ffffff;
        height: 450px;
    }

    .ab-col3 {
        background-color: #ffffff;
        height: 450px;
    }

    .ab-col3>img {
        background-color: #14b1bb;
        border-radius: 0%;
        height: 480px;
        width: 100%;
        object-fit: cover;
    }
}


@media (max-width:576px) {

    .ab-col2 {
        background-color: #ffffff;
        height: 450px;
    }

    .ab-col2>p {
        font-size: 18px;
        color: #525252;
        padding-left: 20px;
        /* position: absolute;
    top: 20%;
    left: 5%; */
        margin-top: 30px;
        /* margin-bottom: 50px; */
    }

    .ab-col3>img {
        border-radius: 0%;
        height: 410px;
        object-fit: cover;
    }

    .ab-col2>h2 {
        font-size: 24px;
        color: #282727;
        padding-left: 20px;
        font-weight: 700;
        /* position: absolute;
    top: 20%;
    left: 5%; */
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .ab-col2>img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        /* margin-top: 20px; */
    }

    .ab-col2>a {
        border-radius: 10px;
        background-color: #032539;
        border: none;
        color: #f6f7f7;
        text-align: center;
        font-size: 20px;
        padding: 15px 50px 15px 20px;
        width: 300px;
        transition: all 0.8s;
        cursor: pointer;
        margin: 5px;
        margin-left: 25px;
    }

    .ab-col2>a>span {
        cursor: pointer;
        /* background-color: #1c768f; */
        display: inline-block;
        position: relative;
        transition: 0.8s;
    }

    .ab-col2>a>span::after {
        content: '\00bb';
        position: absolute;
        color: #fff;
        font-size: 24px;
        /* background-color: #417972; */
        opacity: 0;
        top: 0;
        /* left: 100px; */
        right: -50px;
        transition: 0.8s;
    }

    .ab-col2>a>:hover span {
        padding-right: 45px;
    }

    .ab-col2>a:hover span::after {
        opacity: 1;
        right: -30px;
    }
}

.title-testimonials {
    color: #000000;
    font-size: 46px;
    font-weight: 500;
}

.blogs__title>h1 {
    color: #fff;
    font-size: 46px;
    font-weight: 700;
}

.blogs-col1>h2 {
    font-size: 86px;
    /* margin-left: 40px; */
    position: relative;
    top: 30%;
    left: 22%;

}

.blog-col1>h2 {
    font-size: 76px;
    /* margin-left: 40px; */
    /* position: relative;
    top: 30%;
    left: 15%; */

}

.blog-col1 {
    background-color: #d8d9d9;

}

.blog-col1>h1 {
    font-size: 86px;
    /* margin-left: 40px; */
    /* position: relative;
    top: 23%;
    left: 20%; */
    padding: 100px 80px;

}

@media (max-width: 575.98px) {
    .blog-col1>h1 {
        font-size: 56px;
        /* margin-left: 40px; */
        /* position: relative;
        top: 23%;
        left: 20%; */
        padding: 60px 80px;

    }
}

.blog-col2 {
    background-color: #ffffff;
}

.blog-col2>p {
    font-size: 18px;
    color: #525252;
    padding-left: 20px;
    /* position: absolute;
    top: 20%;
    left: 5%; */
    margin-top: 30px;
    margin-bottom: 50px;
}

.ab-col3>img {
    border-radius: 0%;
    height: 410px;
}

.blog-col2>h4 {
    font-size: 24px;
    color: #282727;
    padding: 0px 20px;
    font-weight: 700;
    /* position: absolute;
    top: 20%;
    left: 5%; */
    margin-top: 30px;
    margin-bottom: 10px;
}

.ab-col2>img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    /* margin-top: 20px; */
}

.blog-col2>a {
    border-radius: 4px;
    /* background-color: #f4511e; */
    border: none;
    color: #032539;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 50px;
    width: 200px;
    transition: all 0.8s;
    cursor: pointer;
    margin: 5px;
}

.blog-col2>a>span {
    cursor: pointer;
    /* background-color: #1c768f; */
    display: inline-block;
    position: relative;
    transition: 0.8s;
}

.blog-col2>a>span::after {
    content: '\00bb';
    position: absolute;
    /* background-color: #417972; */
    opacity: 0;
    top: 0;
    /* left: 100px; */
    right: -50px;
    transition: 0.8s;
}

.blog-col2>a>:hover span {
    padding-right: 45px;
}

.blog-col2>a:hover span::after {
    opacity: 1;
    right: -30px;
}


.blog-col2b {
    background-color: #F8F9FA;
}

.blog-col2b>p {
    font-size: 18px;
    color: #525252;
    padding-left: 20px;
    /* position: absolute;
    top: 20%;
    left: 5%; */
    margin-top: 30px;
    margin-bottom: 50px;
}

.ab-col3>img {
    border-radius: 0%;
    height: 410px;
}

.blog-col2b>h4 {
    font-size: 24px;
    color: #282727;
    padding: 0px 20px;
    font-weight: 700;
    /* position: absolute;
    top: 20%;
    left: 5%; */
    margin-top: 30px;
    margin-bottom: 10px;
}

.blog-col2b>h5 {
    padding-left: 20px;
    margin-top: 50px;
}

.blog-col2b>h5>span {
    font-size: 18px;
    font-weight: bold;
}

.blog-col2>h5 {
    padding-left: 20px;
    margin-top: 50px;
}

.blog-col2>h5>span {
    font-size: 18px;
    font-weight: bold;
}

.ab-col2>img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    /* margin-top: 20px; */
}

.blog-col2b>a {
    border-radius: 4px;
    /* background-color: #f4511e; */
    border: none;
    color: #032539;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 50px;
    width: 200px;
    transition: all 0.8s;
    cursor: pointer;
    margin: 5px;
}

.blog-col2b>a>span {
    cursor: pointer;
    /* background-color: #1c768f; */
    display: inline-block;
    position: relative;
    transition: 0.8s;
}

.blog-col2b>a>span::after {
    content: '\00bb';
    position: absolute;
    /* background-color: #417972; */
    opacity: 0;
    top: 0;
    /* left: 100px; */
    right: -50px;
    transition: 0.8s;
}

.blog-col2b>a>:hover span {
    padding-right: 45px;
}

.blog-col2b>a:hover span::after {
    opacity: 1;
    right: -30px;
}























.card-bodys {
    height: auto;
    z-index: 1;
    padding: 42px 30px 50px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%);
    transition: .5s;
}

.card-bodys p {
    font-size: 20px;
    padding-top: 5px;
}

.card-bodys i {
    font-size: 50px;
    color: #14b1bb;
}

.card h4 a:hover {
    color: #333;
}

.card-bodys a {
    border: 1px solid #333;
    color: #14b1bb;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;

}

.card-bodys a:hover {
    border: 0px;
    background-color: #333 transparent 0.3;
    color: #000;

}

.card-bodys::before {
    background: #14b1bb;
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    content: "";
    z-index: -1;
    transition: .5s;
}

.card-bodys:hover::before {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    /* background:#0f7a81; */
}

.card-bodys:hover h4,
.card-bodys:hover p {
    color: #fff;
}

.card-bodys.card-bodys:hover i {
    color: #fff;
}

.card-bodys.card-bodys:hover a {
    border-color: #14b1bb;
    color: #14b1bb;
    background: #fff;
}

.card-bodys>h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.card-bodys>ul>li {
    font-size: 18px;
}

.card-bodys>ul>li>span {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    transition: all .5s;
    /* background-color: var(--main-clr); */
    background-color: #14b1bb;
    display: block;
    float: left;
    margin-right: 9px;
    margin-top: 9px;
}

.card-bodys:hover ul>li>span {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    transition: all .5s;
    /* background-color: var(--main-clr); */
    background-color: #000000;
    display: block;
    float: left;
    margin-right: 9px;
    margin-top: 9px;
}

.card-bodys>img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    object-fit: fill;
}

@media (max-width: 575.98px) {
    .card-bodys {
        height: auto;
        z-index: 1;
        padding: 42px 30px 50px;
        box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%);
        transition: .5s;
    }

    .card-bodys p {
        font-size: 20px;
        padding-top: 5px;
    }

    .card-bodys i {
        font-size: 50px;
        color: #14b1bb;
    }

    .card h4 a:hover {
        color: #333;
    }

    .card-bodys a {
        border: 1px solid #333;
        color: #14b1bb;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;

    }

    .card-bodys a:hover {
        border: 0px;
        background-color: #333 transparent 0.3;
        color: #000;

    }

    .card-bodys::before {
        background: #14b1bb;
        position: absolute;
        left: 0;
        top: 0;
        width: 2px;
        height: 100%;
        content: "";
        z-index: -1;
        transition: .5s;
    }

    .card-bodys:hover::before {
        width: 100%;
        height: 100%;
        border-radius: 0px;
        /* background:#0f7a81; */
    }

    .card-bodys:hover h4,
    .card-bodys:hover p {
        color: #fff;
    }

    .card-bodys.card-bodys:hover i {
        color: #fff;
    }

    .card-bodys.card-bodys:hover a {
        border-color: #14b1bb;
        color: #14b1bb;
        background: #fff;
    }

    .card-bodys>h2 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .card-bodys>ul>li {
        font-size: 18px;
    }

    .card-bodys>ul>li>span {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        transition: all .5s;
        /* background-color: var(--main-clr); */
        background-color: #14b1bb;
        display: block;
        float: left;
        margin-right: 9px;
        margin-top: 9px;
    }

    .card-bodys:hover ul>li>span {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        transition: all .5s;
        /* background-color: var(--main-clr); */
        background-color: #000000;
        display: block;
        float: left;
        margin-right: 9px;
        margin-top: 9px;
    }

    .card-bodys>img {
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
        object-fit: fill;
    }
}

.get {
    background-color: #14b1bb;
    height: 250px;
}

.get-head>h2>span {

    font-size: 46px;
}


.blogs-col1 {
    border: #000 5px solid;
    width: 450px;
    height: 500px;
    background-color: #14b1bb;
}

.get-btn>button {
    padding: 30px 80px;
    background-color: #000;
    border-style: none;
    background-color: #000;
    margin-left: 120px;
    color: #ffffff;
    transition: all .5s;
    font-weight: 600;
    font-size: 18px;
    border-radius: 12px;
}

@media (max-width: 575.98px) {
    .get {
        background-color: #14b1bb;
        height: 450px;
    }

    .get-head>h2>span {

        font-size: 46px;
    }

    .get-btn>button {
        padding: 20px 40px;
        background-color: #000;
        border-style: none;
        background-color: #000;
        margin-left: 20px;
        color: #ffffff;
        transition: all .5s;
        font-weight: 600;
        font-size: 18px;
        border-radius: 12px;
    }
}

.blog-more {
    background-color: #14b1bb;
    height: 200px;
}

@media (max-width: 575.98px) {
    .blog-more {
        background-color: #14b1bb;
        height: 250px;
    }
}

.blog-mbt {
    display: flex;
    justify-content: center;
}

.blog-mbt>button {
    padding: 15px 30px;
    background-color: #000000;
    color: #fff;
    border-radius: 15px;
    border-style: none;
}

.contact-title>h1 {
    font-size: 46px;
    font-weight: 500;
    color: #000;
}

.contact-con {
    filter: drop-shadow(20px 10px #14b1bb);
    background-color: #ffffff;
    border-radius: 25px;
    border: 1px solid #000;
}

.carousel-item {
    height: 650px;
}

.carousel-item>video {
    width: 100%;
    height: 650px;
    object-fit: cover;
}

/* .carousel-item>img {
    width: 100%;
    height: 600px;
    object-fit: cover;
} */

.carousel-caption>h5 {
    font-size: 56px;
    float: left;
    color: #000;
    position: absolute;
    bottom: 40%;
}

.in-con {
    background-color: #fff;
}

.contact-main {
    background-color: #fff;
    margin-top: 400px;
}

.c-img>img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.contac-form {
    /* width: 100%; */
    margin: 60px;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.cont-title {
    height: 440px;
    margin: 60px;
    border-radius: 10px;
    background-color: #14b1bb;
    /* background: rgba(255, 255, 255, 0.25); */
    backdrop-filter: blur(15px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.cont-title>h1 {
    /* position: absolute;
    top: 40%;
    left: 22%; */
    padding: 180px 20px;
    color: #fff;
}

@media (max-width: 575.98px) {
    .cont-title {
        height: 340px;
        margin: 30px;
        border-radius: 10px;
        background-color: #14b1bb;
        /* background: rgba(255, 255, 255, 0.25); */
        backdrop-filter: blur(15px);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
    }

    .cont-title>h1 {
        /* position: absolute;
    top: 40%;
    left: 22%; */
        padding: 140px 20px;
        color: #fff;
    }

    .contac-form {
        /* width: 100%; */
        margin: 30px;
        background-color: #fff;
        padding: 30px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(15px);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
    }

}

.divid {
    height: 50px;
    background-color: #D2D2D2;
}

.header-to>video {
    width: 100%;
    height: 650px;
    object-fit: cover;






}

.f-btn {
    background-color: #14b1bb;
    color: #fff;
    padding: 10px 20px;
}

.f-btn {
    background-color: #14b1bb;
    color: #fff;
    padding: 10px 20px;
}

.f-btn:hover {
    background-color: #0a6d75;
    color: #fff;
    padding: 10px 20px;
}

.carousel-item>img {
    width: 100%;
    height: 650px;
}

.c-heading>h1 {
    float: left;
    font-size: 76px;
    font-weight: 600;
    margin-bottom: 100px;
}

.c-heading>p {
    float: left;
    font-size: 24px;
    /* font-weight: 600; */
    margin-bottom: 100px;
}


.carousel-caption {
    font-family: 'Livvic', sans-serif;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.carousel-caption h1 {
    font-family: 'Livvic', sans-serif;
    font-size: 70px;
    font-weight: 600;
    color: #000;
    line-height: 1.1;
    text-align: left;
    margin: 0px auto 10px 0px;
}

.carousel-caption p {
    font-family: 'Livvic', sans-serif;
    font-size: 25px;
    font-weight: 500;
    text-align: left;
    color: #333;
    margin: 30px 0 30px 0px;
}

@media (max-width: 576px) {
    .carousel-item {
        height: 450px;
    }

    .carousel-item>video {
        width: 100%;
        height: 450px;
        object-fit: cover;
    }

    .carousel-caption {
        font-family: 'Livvic', sans-serif;
        position: absolute;
        top: 40%;
        /* transform: translateY(-50%); */
        z-index: 1;
    }

    .carousel-caption h1 {
        font-family: 'Livvic', sans-serif;
        font-size: 40px;
        font-weight: 600;
        color: #ffffff;
        line-height: 1.1;
        text-align: left;
        margin: 0px auto 10px 0px;
    }

    .carousel-caption p {
        font-family: 'Livvic', sans-serif;
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        color: #333;
        margin: 30px 0 30px 0px;
    }
}

.buttons {
    margin-top: 30px;
}

.buttons>a {
    padding: 15px 30px;
}

@media(max-width: 576px) {
    .buttons {
        margin-top: 30px;
        margin-left: 0px;
    }

    .buttons>a {
        padding: 15px 30px;
    }
}

.ab-h {
    padding: 120px;
}

.ab-h>h3 {
    font-size: 35px;
}

.ab-h>h3>span {
    font-size: 60px;
}

.ab-p {
    background-color: #d8d9d9;
    padding: 60px;
}

.ab-p>p {
    font-size: 20px;
    margin-top: 20px;

}

.ab-p>h4 {
    float: right;
    margin-top: 40px;
    font-size: 30px;

}

@media(max-width: 576px) {

    .ab-h {
        padding: 60px;
    }

    .ab-h>h3 {
        font-size: 24px;
    }

    .ab-h>h3>span {
        font-size: 35px;
    }

    .ab-p {
        background-color: #d8d9d9;
        padding: 60px;
    }

    .ab-p>p {
        font-size: 20px;
        margin-top: 20px;

    }

    .ab-p>h4 {
        float: right;
        margin-top: 40px;
        font-size: 24px;

    }
}

.vm>img {
    width: 100%;
    object-fit: cover;
}

.vm2 {
    background-color: #D8D9D9;
    padding: 100px 60px;
}

.vm2>h2 {
    font-size: 28px;
    font-weight: bold;

}

.vm2>p {
    font-size: 30px;
    line-height: 36px;

}

.head-video {
    width: 100%;
    height: 650px;
    object-fit: cover;
}

.head-video-mobile {
    width: 100%;
    height: 550px;
    object-fit: cover;

}

.intouch {
    background-color: #F8F9FA;
    margin-top: 400px;
}

@media (max-width: 575.98px) {
    .intouch {
        background-color: #F8F9FA;
        margin-top: 100px;
    }
}